@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #ff4d5a;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 2rem;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

body {
  font-family: monospace;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  cursor: none;
  scroll-behavior: smooth;
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: 2px;
  margin-top: 2px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: #ccc;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  opacity: 0.15;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10000000;
  -webkit-transition: all 0.08s ease-out;
  -o-transition: all 0.08s ease-out;
  transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

/* start navbar section */

a.navbar-brand {
  font-size: 2rem;
  color: #fff;
}

.nav-link {
  color: #ccc;
}

.nav-link.active,
.nav-link:hover {
  color: #ff4d5a !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    background-color: #131417;
    padding: 0.2rem !important;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* start full page section */
#fullpage {
  height: 100vh;
}

#fullpage section {
  height: 100vh;
}

#fullpage section:nth-child(1) {
  background: linear-gradient(#000, #1b1c21);
}

/* start section1 */
#particles-js,
#parallax,
.layer,
.some-space,
.some-more-space {
  height: 100%;
  width: 100%;
}

#particles-js {
  opacity: 0.6;
}

#parallax h1 {
  color: white;
  font-size: 5.5em;
  font-weight: 100;
  letter-spacing: 5px;
  position: absolute;
  top: 28%;
  left: 12%;
}

#parallax h1 span {
  display: block;
  font-size: 30px;
  color: #ff4d5a;
}

#parallax h1 .job {
  margin-top: 10px;
  letter-spacing: 1px;
}

#parallax img {
  position: relative;
  left: 50%;
  transform: translate(20%, -45%);
  top: 50%;
  width: 450px;
  height: 450px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding-top: 15px;
  box-shadow: 5px 20px 50px;
}

@media screen and (max-width: 500px) {
  #parallax h1 {
    font-size: 2.3rem;
    top: 65%;
    left: 18%;
  }
  #parallax img {
    width: 280px;
    height: 280px;
    transform: translate(-50%, -75%);
  }
  #parallax h1 span {
    font-size: 18px;
  }
  #parallax a {
    bottom: 8%;
    top: unset !important;
  }
}

#parallax a {
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  display: table;
  position: absolute;
  top: 65%;
  left: 12.5%;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 5px 20px;
}
#parallax a:hover {
  color: #ff4d5a;
}

.some-space {
  animation: rotate 18s 0.5s infinite linear reverse;
}

.some-more-space {
  -webkit-animation: rotate 14s 0.1s infinite linear;
  animation: rotate 14s 0.1s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

/* start section2 */

#section2 {
  background: linear-gradient(to right, #131417, #1b1c21);
  overflow: hidden;
}

#section2 .shadow-title {
  position: absolute;
  top: 0;
  margin-top: 30px;
  right: 0px;
  text-align: right;
  font-family: "Muli", sans-serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: 11vw;
  line-height: 1;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    -90deg,
    rgba(200, 200, 200, 0),
    rgba(200, 200, 200, 0.1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  z-index: 1;
}

marquee {
  font-size: 6rem;
  font-family: "Muli", sans-serif;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  z-index: 0;
  opacity: 0.3;
}

#section2 img {
  width: 88%;
  position: relative;
  margin-top: 55px;
  border-radius: 10px;
}

#section2 .text {
  width: 80%;
  margin-top: 100px;
  color: #ccc;
}

@media screen and (max-width: 500px) {
  #section2 img {
    width: 70%;
    margin-top: 75px;
  }
  #section2 .text {
    width: 100%;
    margin-top: 10px;
  }
  #section2 .text p {
    margin-top: 0px !important;
  }
  #section2 .text a {
    margin-top: 0 !important;
  }
}

#section2 .text p {
  margin-top: 25px;
  color: rgba(170, 170, 170, 0.5);
}

#section2 .text a {
  color: #ff4d5a;
  border: 1px solid #ff4d5a;
  border-radius: 12px;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 5px 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}
#section2 .text a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  #section2 .text p span {
    display: inline !important;
  }
}

/* start section3 */
#fullpage section:nth-child(3) {
  background: #1b1c21;
  color: #fff;
  overflow: hidden;
  font-family: sans-serif;
}

#section3 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
}

#section3 .shadow-title {
  position: absolute;
  top: 0;
  margin-top: 30px;
  left: 10px;
  width: 100%;
  height: 300%;
  text-align: left;
  font-family: "Muli", sans-serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: 12vw;
  line-height: 1;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    90deg,
    rgba(200, 200, 200, 0.01),
    rgba(200, 200, 200, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  z-index: 0;
}

#section3 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#section3 .container:before {
  content: "";
  position: absolute;
  left: -160%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
}

.ms--images {
  position: relative;
  overflow: hidden;
}
.ms--images.ms-container--horizontal {
  width: 100%;
  height: 550px;
  max-width: 100%;
}
.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}
.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  top: 100px;
}
.ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--images {
  left: calc(50% - 260px);
}
.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}
.ms--images .ms-slide .ms-slide__image {
  filter: brightness(0.25);
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background-image: url("../images/work1.png");
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background-image: url("../images/work2.png");
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background-image: url("../images/work3.png");
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background-image: url("../images/work4.png");
}
.ms--images .ms-slide__image-container {
  width: 80%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--numbers {
  position: absolute;
  left: calc(50% - 380px);
  top: calc(50% - 325px);
  pointer-events: none;
}
.ms--numbers .ms-slide {
  font-size: 8.5em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.15);
}

.ms--titles {
  position: relative;
  overflow: hidden;
}
.ms--titles.ms-container--vertical {
  width: 400px;
  height: 210px;
  max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 110px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 70px);
}
.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--titles .ms-slide {
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--titles {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 90px);
  z-index: 2;
  pointer-events: none;
}
.ms--titles .ms-track {
  white-space: normal;
}
.ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}
.ms--titles .ms-slide h3 {
  margin: 0;
  text-shadow: 1px 1px 2px black;
  font-size: 3.7rem;
  font-weight: 600;
}

.ms--links {
  position: relative;
  overflow: hidden;
}
.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--links .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 105px);
  z-index: 2;
}
.ms--links .ms-track {
  white-space: normal;
}
.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.pagination {
  display: flex;
  position: absolute;
  left: calc(50% - 420px);
  top: calc(88%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 2;
}
.pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__button:before,
.pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  box-shadow: 0 1px 0 #0b0d14;
}
.pagination__button:before {
  height: 2px;
  background-color: #6a3836;
}
.pagination__button:after {
  height: 3px;
  background-color: #ff4d5a;
  opacity: 0;
  transition: 0.5s opacity;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

@media screen and (max-width: 860px) {
  .ms--numbers {
    left: calc(50% - 120px);
  }

  .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 120px);
    text-align: center;
  }

  .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }

  .pagination {
    left: 50%;
    top: calc(100% - 120px);
    transform: translateX(-50%);
  }
  .ms--images {
    top: 15px;
  }
}
@media screen and (max-width: 600px) {
  .ms--images {
    overflow: visible;
  }
}
@media screen and (max-width: 400px) {
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
}

#section3 .see-more {
  color: #ff4d5a;
  border: 1px solid #ff4d5a;
  border-radius: 12px;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 5px 20px;
  width: 118px;
  margin-left: auto;
  z-index: 1;
}
#section3 .see-more:hover {
  color: #fff;
}

@media screen and (max-width: 500px) {
  #section3 .see-more {
    margin-right: auto;
    margin-top: 10px;
  }
}

/* start section4 */

#fullpage section:nth-child(4) {
  background: linear-gradient(#1b1c21, #000);
}

#section4 .shadow-title {
  position: absolute;
  top: 0;
  margin-top: 20px;
  right: 0px;
  text-align: right;
  font-family: "Muli", sans-serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-size: 8.5vw;
  line-height: 1;
  color: rgba(200, 200, 200, 0.1);
  background: linear-gradient(
    -90deg,
    rgba(200, 200, 200, 0),
    rgba(200, 200, 200, 0.1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  z-index: 1;
}

.contact .extra-title {
  color: #fff;
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .contact .extra-title {
    margin-top: 1.1rem;
  }
  .contact .form textarea {
    min-height: auto !important;
    margin-top: 15px !important;
  }
}

.contact .form input,
.contact .form textarea {
  color: #fff;
  width: 100%;
  padding: 15px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input.form-btn {
  color: #fff;
  font-size: 17px;
  background: none;
  width: 40% !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 20px !important;
}

.contact .form textarea {
  padding: 15px;
  min-height: 140px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .contact .extra-title {
    margin-top: 1.65rem;
  }
  .contact .form textarea {
    min-height: auto !important;
    margin-top: 15px !important;
  }
  .contact input.form-btn {
    margin-top: 10px !important;
    font-size: 14px;
  }
}

.contact a {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  margin: 10px 0;
  text-decoration: none;
}

#section4 .social i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 5px;
  font-size: 17px;
  color: #999;
  text-decoration: none;
  margin-top: 10px;
}
